<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Get Weather Data</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}



    <form method="POST">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br><br>
        <button type="submit" name="action" value="Current">Get Current Weather</button>
        <button type="submit" name="action" value="Forecast">Get 3-Day Forecast</button>
        <button type="submit" name="action" value="Hourly">Get Hourly Forecast</button>

    </form>
</body>
</html>